In [1]:
# Import libraries

import os
import pyspark
import re
from operator import add
from pyspark.sql.types import *
from pyspark.sql import functions 
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, when, concat, isnull, mode, isnan, count, lower, upper, sum, first, regexp_replace, concat_ws, hour, minute, month, to_date, to_timestamp
from pyspark.sql.window import Window
import pyspark.sql.functions as F
import pandas as pd
import numpy as np
from numpy import mean
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
import tensorflow as tf
import plotly.express as px
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import LSTM
from tensorflow.keras.layers import Dropout
import warnings
warnings.filterwarnings('ignore')

2024-04-10 12:52:01.835545: I external/local_tsl/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2024-04-10 12:52:02.137469: I external/local_tsl/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2024-04-10 12:52:03.496689: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-04-10 12:52:07.900322: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [2]:
df = spark.read.format("csv").option("header","true").load('/user1/Motor_Vehicle_Collisions_-_Crashes.csv')

In [3]:
df.show(truncate = False)

24/04/10 12:53:14 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+----------+----------+---------+--------+---------+----------+-----------------------+----------------------------+------------------------------+---------------------------+-------------------------+------------------------+-----------------------------+----------------------------+-------------------------+------------------------+--------------------------+-------------------------+------------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+------------+-----------------------------------+-----------------------------------+-------------------+-------------------+-------------------+
|CRASH DATE|CRASH TIME|BOROUGH  |ZIP CODE|LATITUDE |LONGITUDE |LOCATION               |ON STREET NAME              |CROSS STREET NAME             |OFF STREET NAME            |NUMBER OF PERSONS INJURED|NUMBER OF PERSONS KILLED|NUMBER OF PEDESTRIANS INJURED|NUMBER OF PEDESTRIANS KILLED|NUMBER OF CYCLIST INJURED|NUMBER OF CYCLIST KILLED|NUMBER OF MOTORIST INJURED|NUMBER OF MOTORIST KILLED|CONTRIBUTING FACTOR VEHICLE 1 |CONTRIBUTING FACTOR VEHICLE 2|CONTRIBUTING FACTOR VEHICLE 3|CONTRIBUTING FACTOR VEHICLE 4|CONTRIBUTING FACTOR VEHICLE 5|COLLISION_ID|VEHICLE TYPE CODE 1                |VEHICLE TYPE CODE 2                |VEHICLE TYPE CODE 3|VEHICLE TYPE CODE 4|VEHICLE TYPE CODE 5|
+----------+----------+---------+--------+---------+----------+-----------------------+----------------------------+------------------------------+---------------------------+-------------------------+------------------------+-----------------------------+----------------------------+-------------------------+------------------------+--------------------------+-------------------------+------------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+------------+-----------------------------------+-----------------------------------+-------------------+-------------------+-------------------+
|09/11/2021|2:39      |null     |null    |null     |null      |null                   |WHITESTONE EXPRESSWAY       |20 AVENUE                     |null                       |2                        |0                       |0                            |0                           |0                        |0                       |2                         |0                        |Aggressive Driving/Road Rage  |Unspecified                  |null                         |null                         |null                         |4455765     |Sedan                              |Sedan                              |null               |null               |null               |
|03/26/2022|11:45     |null     |null    |null     |null      |null                   |QUEENSBORO BRIDGE UPPER     |null                          |null                       |1                        |0                       |0                            |0                           |0                        |0                       |1                         |0                        |Pavement Slippery             |null                         |null                         |null                         |null                         |4513547     |Sedan                              |null                               |null               |null               |null               |
|06/29/2022|6:55      |null     |null    |null     |null      |null                   |THROGS NECK BRIDGE          |null                          |null                       |0                        |0                       |0                            |0                           |0                        |0                       |0                         |0                        |Following Too Closely         |Unspecified                  |null                         |null                         |null                         |4541903     |Sedan                              |Pick-up Truck                      |null               |null               |null               |
|09/11/2021|9:35      |BROOKLYN |11208   |40.667202|-73.8665  |(40.667202, -73.8665)  |null                        |null                          |1211      LORING AVENUE    |0                        |0                       |0                            |0                           |0                        |0                       |0                         |0                        |Unspecified                   |null                         |null                         |null                         |null                         |4456314     |Sedan                              |null                               |null               |null               |null               |
|12/14/2021|8:13      |BROOKLYN |11233   |40.683304|-73.917274|(40.683304, -73.917274)|SARATOGA AVENUE             |DECATUR STREET                |null                       |0                        |0                       |0                            |0                           |0                        |0                       |0                         |0                        |null                          |null                         |null                         |null                         |null                         |4486609     |null                               |null                               |null               |null               |null               |
|04/14/2021|12:47     |null     |null    |null     |null      |null                   |MAJOR DEEGAN EXPRESSWAY RAMP|null                          |null                       |0                        |0                       |0                            |0                           |0                        |0                       |0                         |0                        |Unspecified                   |Unspecified                  |null                         |null                         |null                         |4407458     |Dump                               |Sedan                              |null               |null               |null               |
|12/14/2021|17:05     |null     |null    |40.709183|-73.956825|(40.709183, -73.956825)|BROOKLYN QUEENS EXPRESSWAY  |null                          |null                       |0                        |0                       |0                            |0                           |0                        |0                       |0                         |0                        |Passing Too Closely           |Unspecified                  |null                         |null                         |null                         |4486555     |Sedan                              |Tractor Truck Diesel               |null               |null               |null               |
|12/14/2021|8:17      |BRONX    |10475   |40.86816 |-73.83148 |(40.86816, -73.83148)  |null                        |null                          |344       BAYCHESTER AVENUE|2                        |0                       |0                            |0                           |0                        |0                       |2                         |0                        |Unspecified                   |Unspecified                  |null                         |null                         |null                         |4486660     |Sedan                              |Sedan                              |null               |null               |null               |
|12/14/2021|21:10     |BROOKLYN |11207   |40.67172 |-73.8971  |(40.67172, -73.8971)   |null                        |null                          |2047      PITKIN AVENUE    |0                        |0                       |0                            |0                           |0                        |0                       |0                         |0                        |Driver Inexperience           |Unspecified                  |null                         |null                         |null                         |4487074     |Sedan                              |null                               |null               |null               |null               |
|12/14/2021|14:58     |MANHATTAN|10017   |40.75144 |-73.97397 |(40.75144, -73.97397)  |3 AVENUE                    |EAST 43 STREET                |null                       |0                        |0                       |0                            |0                           |0                        |0                       |0                         |0                        |Passing Too Closely           |Unspecified                  |null                         |null                         |null                         |4486519     |Sedan                              |Station Wagon/Sport Utility Vehicle|null               |null               |null               |
|12/13/2021|0:34      |null     |null    |40.701275|-73.88887 |(40.701275, -73.88887) |MYRTLE AVENUE               |null                          |null                       |0                        |0                       |0                            |0                           |0                        |0                       |0                         |0                        |Passing or Lane Usage Improper|Unspecified                  |null                         |null                         |null                         |4486934     |Station Wagon/Sport Utility Vehicle|null                               |null               |null               |null               |
|12/14/2021|16:50     |QUEENS   |11413   |40.675884|-73.75577 |(40.675884, -73.75577) |SPRINGFIELD BOULEVARD       |EAST GATE PLAZA               |null                       |0                        |0                       |0                            |0                           |0                        |0                       |0                         |0                        |Turning Improperly            |Unspecified                  |null                         |null                         |null                         |4487127     |Sedan                              |Station Wagon/Sport Utility Vehicle|null               |null               |null               |
|12/14/2021|8:30      |null     |null    |null     |null      |null                   |broadway                    |west 80 street -west 81 street|null                       |0                        |0                       |0                            |0                           |0                        |0                       |0                         |0                        |Unsafe Lane Changing          |Unspecified                  |null                         |null                         |null                         |4486634     |Station Wagon/Sport Utility Vehicle|Sedan                              |null               |null               |null               |
|12/14/2021|0:59      |null     |null    |40.59662 |-74.00231 |(40.59662, -74.00231)  |BELT PARKWAY                |null                          |null                       |0                        |0                       |0                            |0                           |0                        |0                       |0                         |0                        |Unsafe Speed                  |null                         |null                         |null                         |null                         |4486564     |Sedan                              |null                               |null               |null               |null               |
|12/14/2021|23:10     |QUEENS   |11434   |40.66684 |-73.78941 |(40.66684, -73.78941)  |NORTH CONDUIT AVENUE        |150 STREET                    |null                       |2                        |0                       |0                            |0                           |0                        |0                       |2                         |0                        |Reaction to Uninvolved Vehicle|Unspecified                  |null                         |null                         |null                         |4486635     |Sedan                              |Sedan                              |null               |null               |null               |
|12/14/2021|17:58     |BROOKLYN |11217   |40.68158 |-73.97463 |(40.68158, -73.97463)  |null                        |null                          |480       DEAN STREET      |0                        |0                       |0                            |0                           |0                        |0                       |0                         |0                        |Passing Too Closely           |Unspecified                  |null                         |null                         |null                         |4486604     |Tanker                             |Station Wagon/Sport Utility Vehicle|null               |null               |null               |
|12/14/2021|20:03     |BROOKLYN |11226   |40.65068 |-73.95881 |(40.65068, -73.95881)  |null                        |null                          |878       FLATBUSH AVENUE  |4                        |0                       |0                            |0                           |0                        |0                       |4                         |0                        |Steering Failure              |null                         |null                         |null                         |null                         |4486991     |Sedan                              |null                               |null               |null               |null               |
|12/14/2021|1:28      |null     |null    |null     |null      |null                   |MEEKER AVENUE               |LORIMER STREET                |null                       |3                        |0                       |0                            |0                           |0                        |0                       |3                         |0                        |Traffic Control Disregarded   |Unspecified                  |null                         |null                         |null                         |4486284     |Station Wagon/Sport Utility Vehicle|Station Wagon/Sport Utility Vehicle|null               |null               |null               |
|12/11/2021|19:43     |BRONX    |10463   |40.87262 |-73.904686|(40.87262, -73.904686) |WEST KINGSBRIDGE ROAD       |HEATH AVENUE                  |null                       |1                        |0                       |0                            |0                           |0                        |0                       |1                         |0                        |Unspecified                   |Unspecified                  |null                         |null                         |null                         |4487040     |Station Wagon/Sport Utility Vehicle|Sedan                              |null               |null               |null               |
|12/14/2021|14:30     |null     |null    |40.783268|-73.82485 |(40.783268, -73.82485) |WHITESTONE EXPRESSWAY       |null                          |null                       |0                        |0                       |0                            |0                           |0                        |0                       |0                         |0                        |Following Too Closely         |Unspecified                  |Unspecified                  |null                         |null                         |4486537     |Station Wagon/Sport Utility Vehicle|Sedan                              |Sedan              |null               |null               |
+----------+----------+---------+--------+---------+----------+-----------------------+----------------------------+------------------------------+---------------------------+-------------------------+------------------------+-----------------------------+----------------------------+-------------------------+------------------------+--------------------------+-------------------------+------------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+------------+-----------------------------------+-----------------------------------+-------------------+-------------------+-------------------+
only showing top 20 rows

## Preprocessing

#### Data Cleaning

In [4]:
# Drop irrelevant columns

df =  df.drop('CROSS STREET NAME', 'OFF STREET NAME', 'NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF CYCLIST INJURED',
            'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED', 'NUMBER OF MOTORIST KILLED',
            'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3', 'CONTRIBUTING FACTOR VEHICLE 4',
            'CONTRIBUTING FACTOR VEHICLE 5', 'COLLISION_ID', 'VEHICLE TYPE CODE 2', 'VEHICLE TYPE CODE 3',
            'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5', 'NUMBER OF PEDESTRIANS KILLED')

df = df.na.drop(how='any')

#df1.select([count(when(
#         isnan(col(each_col)) | \
#         (col(each_col) == "") | \
#         isnull(col(each_col)) | \
#         (lower(col(each_col)) == "null"), 1 \
#     )).alias(f"{each_col}") for each_col in df.columns]).show()

# CHANGE CRASH DATE FORMAT

df = df.withColumn('CRASH DATE', regexp_replace(df['CRASH DATE'],"\\/" , "-"))

# Create new date column with date & time

df = df.withColumn('DATE', concat_ws(' ', df['CRASH DATE'], df['CRASH TIME']))

# DATE to timestamp

df = df.withColumn('DATE', to_timestamp(df['DATE'], 'MM-dd-yyyy H:mm'))

df = df.withColumn('CRASH DATE', to_date(df['CRASH DATE'], 'MM-dd-yyyy'))

# Move DATE column to pisition 0

df = df.select('DATE', *[column for column in df.columns if column != 'DATE'])

# Sort by date

df = df.orderBy('DATE', 'CRASH TIME')

#Filter out 2012 December records

df = df.filter(~((col('DATE').substr(1, 4) == '2012') & (col('DATE').substr(6, 2) != '12')))

df = df.withColumn(
    'ZIP CODE', df['ZIP CODE'].cast('integer')).withColumn(
    'NUMBER OF PERSONS INJURED', 
    df['NUMBER OF PERSONS INJURED'].cast('integer')).withColumn(
    'NUMBER OF PERSONS KILLED', df['NUMBER OF PERSONS KILLED'].cast('integer'))

# Standarize categorical columns

df = df.withColumn(
    'CONTRIBUTING FACTOR VEHICLE 1', 
    upper(col('CONTRIBUTING FACTOR VEHICLE 1'))).withColumn(
    'BOROUGH', 
    upper(col('BOROUGH'))).withColumn(
    'ON STREET NAME', upper(col('ON STREET NAME'))).withColumn(
    'VEHICLE TYPE CODE 1', upper(col('VEHICLE TYPE CODE 1')))

# Create functions for time of day and season
def time_of_day(hour, minute):
    return when((hour == 0) & (minute >= 0) | ((hour >= 1) & (hour <= 6)), 'SMALL HOURS') \
        .when((hour > 6) & (hour <= 12), 'MORNING') \
        .when((hour > 12) & (hour <= 18), 'AFTERNOON') \
        .otherwise('EVENING')

def time_of_year(month):
    return when((month >= 3) & (month <= 5), 'SPRING') \
        .when((month >= 6) & (month <= 8), 'SUMMER') \
        .when((month >= 9) & (month <= 11), 'AUTUMN') \
        .otherwise('WINTER')

#Apply functions to create new columns

df = df.withColumn('TIME OF DAY', 
              time_of_day(hour(df['CRASH TIME']),minute(df['CRASH TIME']))
             ).withColumn('SEASON', time_of_year(month(df['CRASH DATE'])))


# # Organize columns

df = df.select('DATE', 'CRASH DATE', 'CRASH TIME', 'TIME OF DAY', 'SEASON',
               'BOROUGH', 'ZIP CODE', 'LATITUDE', 'LONGITUDE', 'ON STREET NAME', 
               'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED',
               'CONTRIBUTING FACTOR VEHICLE 1', 'VEHICLE TYPE CODE 1')

print('Count of rows: {0}'.format(df.count()), '\n')

df.show(5)

Count of rows: 1012954

+-------------------+----------+----------+-----------+------+---------+--------+----------+-----------+--------------------+-------------------------+------------------------+-----------------------------+--------------------+
|               DATE|CRASH DATE|CRASH TIME|TIME OF DAY|SEASON|  BOROUGH|ZIP CODE|  LATITUDE|  LONGITUDE|      ON STREET NAME|NUMBER OF PERSONS INJURED|NUMBER OF PERSONS KILLED|CONTRIBUTING FACTOR VEHICLE 1| VEHICLE TYPE CODE 1|
+-------------------+----------+----------+-----------+------+---------+--------+----------+-----------+--------------------+-------------------------+------------------------+-----------------------------+--------------------+
|2012-12-01 00:00:00|2012-12-01|      0:00|SMALL HOURS|WINTER|MANHATTAN|   10013|40.7233076|  -74.00298|BROOME STREET    ...|                        0|                       0|         AGGRESSIVE DRIVIN...|               OTHER|
|2012-12-01 00:05:00|2012-12-01|      0:05|SMALL HOURS|WINTER|MANHATTAN|   10036|40.7572323|-73.9897922|WEST 42 STREET   ...|                        0|                       0|                  UNSPECIFIED|                 BUS|
|2012-12-01 00:10:00|2012-12-01|      0:10|SMALL HOURS|WINTER| BROOKLYN|   11238|40.6833327|-73.9561132|FRANKLIN AVENUE  ...|                        0|                       0|                  UNSPECIFIED|SPORT UTILITY / S...|
|2012-12-01 00:15:00|2012-12-01|      0:15|SMALL HOURS|WINTER|MANHATTAN|   10010| 40.742089|-73.9849769|EAST 26 STREET   ...|                        0|                       0|                  UNSPECIFIED|SMALL COM VEH(4 T...|
|2012-12-01 00:15:00|2012-12-01|      0:15|SMALL HOURS|WINTER|MANHATTAN|   10002|40.7183032|-73.9873956|DELANCEY STREET  ...|                        0|                       0|              FATIGUED/DROWSY|SPORT UTILITY / S...|
|2012-12-01 00:15:00|2012-12-01|      0:15|SMALL HOURS|WINTER|   QUEENS|   11435|40.6892813|-73.7961022|SUTPHIN BOULEVARD...|                        0|                       0|         DRIVER INATTENTIO...|   PASSENGER VEHICLE|
|2012-12-01 00:20:00|2012-12-01|      0:20|SMALL HOURS|WINTER|MANHATTAN|   10022|40.7555046|-73.9680671|2 AVENUE         ...|                        0|                       0|                  UNSPECIFIED|   PASSENGER VEHICLE|
|2012-12-01 00:30:00|2012-12-01|      0:30|SMALL HOURS|WINTER|    BRONX|   10454|40.8060668|-73.9090412|EAST 141 STREET  ...|                        1|                       0|         DRIVER INATTENTIO...|SPORT UTILITY / S...|
|2012-12-01 00:40:00|2012-12-01|      0:40|SMALL HOURS|WINTER|MANHATTAN|   10011| 40.738552|-73.9996824|7 AVENUE         ...|                        0|                       0|                  UNSPECIFIED|   PASSENGER VEHICLE|
|2012-12-01 00:45:00|2012-12-01|      0:45|SMALL HOURS|WINTER|MANHATTAN|   10013|40.7232799|-74.0079839|HUDSON STREET    ...|                        0|                       0|         DRIVER INATTENTIO...|   PASSENGER VEHICLE|
+-------------------+----------+----------+-----------+------+---------+--------+----------+-----------+--------------------+-------------------------+------------------------+-----------------------------+--------------------+
only showing top 10 rows

### DataFrame reduction by Time of Day

In [5]:
df_time_of_day = df

In [6]:
# Group the data by CRASH DATE and TIME OF DAY
grouped_data = df_time_of_day.groupBy("CRASH DATE", "TIME OF DAY")

# Aggregate the grouped data
counts_time_of_day = grouped_data.agg(
    count("CRASH TIME").alias("NUMBER OF CRASHES"),
    sum("NUMBER OF PERSONS INJURED").alias("PERSONS INJURED"),
    sum("NUMBER OF PERSONS KILLED").alias("PERSONS KILLED"),
    mode("LATITUDE").alias("LATITUDE"),
    mode("LONGITUDE").alias("LONGITUDE"),
    mode("BOROUGH").alias("BOROUGH"),
    mode("ON STREET NAME").alias("ON STREET NAME"),
    mode("CONTRIBUTING FACTOR VEHICLE 1").alias("CONTRIBUTING FACTOR VEHICLE 1"),
    mode("VEHICLE TYPE CODE 1").alias("VEHICLE TYPE CODE 1"),
    mode("SEASON").alias("SEASON")
)

counts_time_of_day = counts_time_of_day.withColumnRenamed("CRASH DATE", "DATE") \
                   .withColumnRenamed("BOROUGH", "PEAK BOROUGH") \
                   .withColumnRenamed("ON STREET NAME", "PEAK STREET") \
                   .withColumnRenamed("CONTRIBUTING FACTOR VEHICLE 1", "MAIN FACTOR") \
                   .withColumnRenamed("VEHICLE TYPE CODE 1", "MAIN VEHICLE TYPE")

# Convert TIME OF DAY column to categorical and sort accordingly
time_of_day_org = ['SMALL HOURS', 'MORNING', 'AFTERNOON', 'EVENING']
counts_time_of_day = counts_time_of_day.withColumn("TIME OF DAY", F.when(col("TIME OF DAY").isNull(), "UNKNOWN").otherwise(col("TIME OF DAY")))
counts_time_of_day = counts_time_of_day.withColumn("TIME OF DAY", F.when(col("TIME OF DAY").isin(time_of_day_org), col("TIME OF DAY")).otherwise("OTHER"))
counts_time_of_day = counts_time_of_day.withColumn("TIME OF DAY", counts_time_of_day["TIME OF DAY"].cast("string"))

# Sort the DataFrame by DATE and TIME OF DAY
counts_time_of_day = counts_time_of_day.orderBy("DATE", F.when(col("TIME OF DAY") == "SMALL HOURS", 1)
                                                               .when(col("TIME OF DAY") == "MORNING", 2)
                                                               .when(col("TIME OF DAY") == "AFTERNOON", 3)
                                                               .when(col("TIME OF DAY") == "EVENING", 4)
                                                               .otherwise(5))

counts_time_of_day.show(5)

+----------+-----------+-----------------+---------------+--------------+----------+-----------+------------+--------------------+-----------+-----------------+------+
|      DATE|TIME OF DAY|NUMBER OF CRASHES|PERSONS INJURED|PERSONS KILLED|  LATITUDE|  LONGITUDE|PEAK BOROUGH|         PEAK STREET|MAIN FACTOR|MAIN VEHICLE TYPE|SEASON|
+----------+-----------+-----------------+---------------+--------------+----------+-----------+------------+--------------------+-----------+-----------------+------+
|2012-12-01|SMALL HOURS|               74|             22|             0|40.7569869|-73.7375192|   MANHATTAN|NORTHERN BOULEVAR...|UNSPECIFIED|PASSENGER VEHICLE|WINTER|
|2012-12-01|    MORNING|              100|             20|             0|40.8261757|-73.9508609|    BROOKLYN|FLATBUSH AVENUE  ...|UNSPECIFIED|PASSENGER VEHICLE|WINTER|
|2012-12-01|  AFTERNOON|              139|             32|             0|40.6673324|-73.8631562|    BROOKLYN|FOREST AVENUE    ...|UNSPECIFIED|PASSENGER VEHICLE|WINTER|
|2012-12-01|    EVENING|               70|             26|             0| 40.633111|-73.9721609|   MANHATTAN|EAST HOUSTON STRE...|UNSPECIFIED|PASSENGER VEHICLE|WINTER|
|2012-12-02|SMALL HOURS|               75|             26|             0| 40.759626|-73.9954735|   MANHATTAN|EASTERN PARKWAY  ...|UNSPECIFIED|PASSENGER VEHICLE|WINTER|
+----------+-----------+-----------------+---------------+--------------+----------+-----------+------------+--------------------+-----------+-----------------+------+
only showing top 5 rows

In [ ]:
# Change column names
counts_time_of_day = counts_time_of_day.selectExpr(
    "CRASH DATE as DATE",
    "'TIME OF DAY'",
    "'NUMBER OF CRASHES'",
    "'PERSONS INJURED'",
    "'PERSONS KILLED'",
    "'LATITUDE'",
    "'LONGITUDE'",
    "'BOROUGH' as PEAK_BOROUGH",
    "'ON STREET NAME' as PEAK_STREET",
    "'CONTRIBUTING FACTOR VEHICLE 1 MAIN FACTOR' as MAIN_FACTOR",
    "'VEHICLE TYPE CODE 1' as MAIN_VEHICLE",
    "SEASON"
)

# Convert TIME OF DAY column to categorical and sort accordingly
time_of_day_org = ['SMALL HOURS', 'MORNING', 'AFTERNOON', 'EVENING']
counts_time_of_day = counts_time_of_day.withColumn("TIME OF DAY", F.when(col("TIME OF DAY").isNull(), "UNKNOWN").otherwise(col("TIME OF DAY")))
counts_time_of_day = counts_time_of_day.withColumn("TIME OF DAY", F.when(col("TIME OF DAY").isin(time_of_day_org), col("TIME OF DAY")).otherwise("OTHER"))
counts_time_of_day = counts_time_of_day.withColumn("TIME OF DAY", counts_time_of_day["TIME OF DAY"].cast("string"))

# Sort the DataFrame by DATE and TIME OF DAY
counts_time_of_day = counts_time_of_day.orderBy("DATE", F.when(col("TIME OF DAY") == "SMALL HOURS", 1)
                                                               .when(col("TIME OF DAY") == "MORNING", 2)
                                                               .when(col("TIME OF DAY") == "AFTERNOON", 3)
                                                               .when(col("TIME OF DAY") == "EVENING", 4)
                                                               .otherwise(5))

In [ ]:
# Group the data by CRASH DATE and TIME OF DAY
grouped_data = df_time_of_day.groupBy("CRASH DATE", "TIME OF DAY")

# Aggregate the grouped data
counts_time_of_day = grouped_data.agg(
    count("CRASH TIME").alias("NUMBER OF CRASHES"),
    sum("NUMBER OF PERSONS INJURED").alias("PERSONS INJURED"),
    sum("NUMBER OF PERSONS KILLED").alias("PERSONS KILLED"),
    first("LATITUDE").alias("LATITUDE"),
    first("LONGITUDE").alias("LONGITUDE"),
    first("BOROUGH").alias("BOROUGH"),
    first("ON STREET NAME").alias("ON STREET NAME"),
    first("CONTRIBUTING FACTOR VEHICLE 1").alias("CONTRIBUTING FACTOR VEHICLE 1"),
    first("VEHICLE TYPE CODE 1").alias("VEHICLE TYPE CODE 1"),
    first("SEASON").alias("SEASON")
)

# Fill NaN values with zeros
counts_time_of_day = counts_time_of_day.fillna(0)

# Change column names
counts_time_of_day = counts_time_of_day.selectExpr(
    "CRASH DATE as DATE",
    "TIME OF DAY",
    "NUMBER OF CRASHES",
    "PERSONS INJURED",
    "PERSONS KILLED",
    "LATITUDE",
    "LONGITUDE",
    "BOROUGH as PEAK BOROUGH",
    "ON STREET NAME as PEAK STREET",
    "CONTRIBUTING FACTOR VEHICLE 1 as MAIN FACTOR",
    "VEHICLE TYPE CODE 1 as MAIN TYPE OF VEHICLE",
    "SEASON"
)

# Convert TIME OF DAY column to categorical and sort accordingly
time_of_day_org = ['SMALL HOURS', 'MORNING', 'AFTERNOON', 'EVENING']
counts_time_of_day = counts_time_of_day.withColumn("TIME OF DAY", F.when(col("TIME OF DAY").isNull(), "UNKNOWN").otherwise(col("TIME OF DAY")))
counts_time_of_day = counts_time_of_day.withColumn("TIME OF DAY", F.when(col("TIME OF DAY").isin(time_of_day_org), col("TIME OF DAY")).otherwise("OTHER"))
counts_time_of_day = counts_time_of_day.withColumn("TIME OF DAY", counts_time_of_day["TIME OF DAY"].cast("string"))

# Sort the DataFrame by DATE and TIME OF DAY
counts_time_of_day = counts_time_of_day.orderBy("DATE", F.when(col("TIME OF DAY") == "SMALL HOURS", 1)
                                                               .when(col("TIME OF DAY") == "MORNING", 2)
                                                               .when(col("TIME OF DAY") == "AFTERNOON", 3)
                                                               .when(col("TIME OF DAY") == "EVENING", 4)
                                                               .otherwise(5))

# Convert DATE column to string format
counts_time_of_day = counts_time_of_day.withColumn("DATE", F.date_format("DATE", "yyyy-MM-dd"))

# Show the DataFrame
counts_time_of_day.show()

In [ ]:
# Read file

#df = spark.read.format("csv").option("header","true").load('/user1/Motor_Vehicle_Collisions_-_Crashes.csv')

# Print schema

# Show df

#df.show()

# Drop irrelevant columns

df = df.drop('CROSS STREET NAME', 'OFF STREET NAME', 'NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF CYCLIST INJURED',
            'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED', 'NUMBER OF MOTORIST KILLED',
            'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3', 'CONTRIBUTING FACTOR VEHICLE 4',
            'CONTRIBUTING FACTOR VEHICLE 5', 'COLLISION_ID', 'VEHICLE TYPE CODE 2', 'VEHICLE TYPE CODE 3',
            'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5', 'NUMBER OF PEDESTRIANS KILLED')

# Print count of rows

# print('Count of rows: {0}'.format(df.count()), '\n')
# print('Count of distinct rows: {0}'.format(df.distinct().count()), '\n')
df = df.dropDuplicates()
# print('Count of distinct rows after droping duplicates: {0}'.format(df.distinct().count()))

#df.select([count(when(col(i).isNull(),i))for i in df.columns]).show()

# Count Null Values

# print('\n','\n')
# print('Null values in each column: ','\n', '\n')
# df.select([count(when(
#         isnan(col(each_col)) | \
#         (col(each_col) == "") | \
#         isnull(col(each_col)) | \
#         (lower(col(each_col)) == "null"), 1 \
#     )).alias(f"{each_col}") for each_col in df.columns]).show()

# Fill Null Values with 0


df = df.na.fill(value='0')

# # Count Null values after filling with zeros

# print('\n','\n')
# print('Null values in each column after filling with zeros: ','\n', '\n')
# df.select([count(when(
#         isnan(col(each_col)) | \
#         (col(each_col) == "") | \
#         isnull(col(each_col)) | \
#         (lower(col(each_col)) == "null"), 1 \
#     )).alias(f"{each_col}") for each_col in df.columns]).show()


# print('\n', '\n')
# print('Count of rows: {0}'.format(df.count()), '\n')

df.show()

In [ ]:
# Create new date column with date & time, handling null values
df = df.withColumn('DATE', when(
    df['CRASH DATE'].isNull() | df['CRASH TIME'].isNull(),
    None
).otherwise(concat_ws(' ', df['CRASH DATE'], df['CRASH TIME'])))

# Move DATE column to the beginning
df = df.select('DATE', *[column for column in df.columns if column != 'DATE'])

# # Make date & time columns datestamps
# df = df.withColumn('CRASH DATE', df['CRASH DATE'].cast('timestamp'))
# df = df.withColumn('CRASH TIME', df['CRASH TIME'].cast('timestamp').cast('string'))
# df = df.withColumn('DATE', df['DATE'].cast('timestamp'))

df.show()

In [ ]:
df.withColumn('DATE', to_timestamp(df['DATE'])).show()

In [ ]:
# Move DATE column to the beginning
df = df.select('DATE', *[column for column in df.columns if column != 'DATE'])

# Make date & time columns datestamps
df = df.withColumn('CRASH DATE', df['CRASH DATE'].cast('timestamp'))
df = df.withColumn('CRASH TIME', df['CRASH TIME'].cast('timestamp').cast('string'))
df = df.withColumn('DATE', df['DATE'].cast('timestamp'))

df.show()

In [ ]:
# # Create new date column with date & time
# df = df.withColumn('DATE', concat_ws(' ', df['CRASH DATE'], df['CRASH TIME']))

# Create new date column with date & time, handling null values
df = df.withColumn('DATE', when(
    df['CRASH DATE'].isNull() | df['CRASH TIME'].isNull(),
    None
).otherwise(concat_ws(' ', df['CRASH DATE'], df['CRASH TIME'])))


# Move DATE column to the beginning
df = df.select('DATE', *[column for column in df.columns if column != 'DATE'])

# Make date & time columns datestamps
df = df.withColumn('CRASH DATE', df['CRASH DATE'].cast('timestamp'))
df = df.withColumn('CRASH TIME', df['CRASH TIME'].cast('timestamp').cast('string'))
df = df.withColumn('DATE', df['DATE'].cast('timestamp'))

df.show()

In [ ]:
#Filter out 2012 December records

df = df.filter(~((col('DATE').substr(1, 4) == '2012') & (col('DATE').substr(6, 2) == '12')))
df.show()

In [ ]:
# Filter out 2012 December records
df = df.filter(~((col('DATE').substr(1, 4) == '2012') & (col('DATE').substr(6, 2) == '12')))

# Convert ZIP CODE to numeric and eliminate Null values
df = df.withColumn('ZIP CODE', df['ZIP CODE'].cast('integer'))
df = df.dropna(subset=['ZIP CODE'])

# Convert NUMBER OF PERSONS INJURED, NUMBER OF PERSONS KILLED to integer and CRASH TIME to timestamp
df = df.withColumn('NUMBER OF PERSONS INJURED', df['NUMBER OF PERSONS INJURED'].cast('integer'))
df = df.withColumn('NUMBER OF PERSONS KILLED', df['NUMBER OF PERSONS KILLED'].cast('integer'))

df.show()

In [ ]:
# Create new date column with date & time
df = df.withColumn('DATE', concat_ws(' ', df['CRASH DATE'], df['CRASH TIME']))

# Move DATE column to the beginning
df = df.select('DATE', *[column for column in df.columns if column != 'DATE'])

# Make date & time columns datestamps
df = df.withColumn('CRASH DATE', df['CRASH DATE'].cast('timestamp'))
df = df.withColumn('CRASH TIME', df['CRASH TIME'].cast('timestamp').cast('string'))
df = df.withColumn('DATE', df['DATE'].cast('timestamp'))

# Filter out 2012 December records
df = df.filter(~((col('DATE').substr(1, 4) == '2012') & (col('DATE').substr(6, 2) == '12')))

# Convert ZIP CODE to numeric and eliminate Null values
df = df.withColumn('ZIP CODE', df['ZIP CODE'].cast('integer'))
df = df.dropna(subset=['ZIP CODE'])

# Convert NUMBER OF PERSONS INJURED, NUMBER OF PERSONS KILLED to integer and CRASH TIME to timestamp
df = df.withColumn('NUMBER OF PERSONS INJURED', df['NUMBER OF PERSONS INJURED'].cast('integer'))
df = df.withColumn('NUMBER OF PERSONS KILLED', df['NUMBER OF PERSONS KILLED'].cast('integer'))

# Standardize categorical columns
df = df.withColumn('CONTRIBUTING FACTOR VEHICLE 1', upper(col('CONTRIBUTING FACTOR VEHICLE 1')))
df = df.withColumn('BOROUGH', upper(col('BOROUGH')))
df = df.withColumn('ON STREET NAME', upper(col('ON STREET NAME')))
df = df.withColumn('VEHICLE TYPE CODE 1', upper(col('VEHICLE TYPE CODE 1')))

# Sort values by date
df = df.orderBy('DATE')

# Create functions for time of day and season
def time_of_day(hour, minute):
    return when((hour == 0) & (minute >= 1) | ((hour >= 1) & (hour <= 6)), 'SMALL HOURS') \
        .when((hour > 6) & (hour <= 12), 'MORNING') \
        .when((hour > 12) & (hour <= 18), 'AFTERNOON') \
        .otherwise('EVENING')

def time_of_year(month):
    return when((month >= 3) & (month <= 5), 'SPRING') \
        .when((month >= 6) & (month <= 8), 'SUMMER') \
        .when((month >= 9) & (month <= 11), 'AUTUMN') \
        .otherwise('WINTER')

# Apply functions to create new columns
df = df.withColumn('TIME OF DAY', time_of_day(hour(df['CRASH TIME']), minute(df['CRASH TIME'])))
df = df.withColumn('SEASON', time_of_year(month(df['CRASH DATE'])))

# Organize columns
df = df.select('DATE', 'CRASH DATE', 'CRASH TIME', 'TIME OF DAY', 'SEASON',
               'BOROUGH', 'ZIP CODE', 'LATITUDE', 'LONGITUDE', 'ON STREET NAME', 
               'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED',
               'CONTRIBUTING FACTOR VEHICLE 1', 'VEHICLE TYPE CODE 1')

# Show DataFrame
df.show()

In [ ]:
# Create a copy of the DataFrame
df_time_of_day = df.select('*')

# Group the data by CRASH DATE and TIME OF DAY
grouped_data = df_time_of_day.groupBy("CRASH DATE", "TIME OF DAY")

# Aggregate the grouped data
counts_time_of_day = grouped_data.agg(
    count("CRASH TIME").alias("NUMBER OF CRASHES"),
    sum("NUMBER OF PERSONS INJURED").alias("PERSONS INJURED"),
    sum("NUMBER OF PERSONS KILLED").alias("PERSONS KILLED"),
    first("LATITUDE").alias("LATITUDE"),
    first("LONGITUDE").alias("LONGITUDE"),
    first("BOROUGH").alias("BOROUGH"),
    first("ON STREET NAME").alias("ON STREET NAME"),
    first("CONTRIBUTING FACTOR VEHICLE 1").alias("CONTRIBUTING FACTOR VEHICLE 1"),
    first("VEHICLE TYPE CODE 1").alias("VEHICLE TYPE CODE 1"),
    first("SEASON").alias("SEASON")
)

# Fill NaN values with zeros
counts_time_of_day = counts_time_of_day.fillna(0)

# Change column names
counts_time_of_day = counts_time_of_day.selectExpr(
    "CRASH DATE as DATE",
    "TIME OF DAY",
    "NUMBER OF CRASHES",
    "PERSONS INJURED",
    "PERSONS KILLED",
    "LATITUDE",
    "LONGITUDE",
    "BOROUGH as PEAK BOROUGH",
    "ON STREET NAME as PEAK STREET",
    "CONTRIBUTING FACTOR VEHICLE 1 as MAIN FACTOR",
    "VEHICLE TYPE CODE 1 as MAIN TYPE OF VEHICLE",
    "SEASON"
)

# Convert TIME OF DAY column to categorical and sort accordingly
time_of_day_org = ['SMALL HOURS', 'MORNING', 'AFTERNOON', 'EVENING']
counts_time_of_day = counts_time_of_day.withColumn("TIME OF DAY", F.when(col("TIME OF DAY").isNull(), "UNKNOWN").otherwise(col("TIME OF DAY")))
counts_time_of_day = counts_time_of_day.withColumn("TIME OF DAY", F.when(col("TIME OF DAY").isin(time_of_day_org), col("TIME OF DAY")).otherwise("OTHER"))
counts_time_of_day = counts_time_of_day.withColumn("TIME OF DAY", counts_time_of_day["TIME OF DAY"].cast("string"))

# Sort the DataFrame by DATE and TIME OF DAY
counts_time_of_day = counts_time_of_day.orderBy("DATE", F.when(col("TIME OF DAY") == "SMALL HOURS", 1)
                                                               .when(col("TIME OF DAY") == "MORNING", 2)
                                                               .when(col("TIME OF DAY") == "AFTERNOON", 3)
                                                               .when(col("TIME OF DAY") == "EVENING", 4)
                                                               .otherwise(5))

# Convert DATE column to string format
counts_time_of_day = counts_time_of_day.withColumn("DATE", F.date_format("DATE", "yyyy-MM-dd"))

# Show the DataFrame
counts_time_of_day.show()

# Stop SparkSession
#spark.stop()