In [ ]:
# Import libraries

import pandas as pd
import numpy as np
from numpy import mean
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
from sklearn import preprocessing

In [ ]:
#Read dataset
#df = pd.read_csv('https://data.cityofnewyork.us/api/views/h9gi-nx95/rows.csv?accessType=DOWNLOAD')
df = pd.read_csv(r'C:\Users\tadeo\Desktop\CA1-Sem2\Motor_Vehicle_Collisions_-_Crashes.csv')
#df1 = pd.read_csv(r'C:\Users\tadeo\Desktop\CA1-Sem2\Motor_Vehicle_Collisions_-_Crashes.csv')

In [ ]:
#Create a copy

df_c = df

# Check shape

df.shape

In [ ]:
df.info()

Here there are a few things to do:

    *We can see that CRASH DATE & CRASH TIME are both objects and not time series, so we'll convert them in such
    *ZIP CODE is an object, so there must be some non-numerial data
    *NUMBER OF PERSONES INJURED & NUMBER OF PERSONS KILLED ARE FLOATS, SO WE CONVERT THEM TO INT

In [ ]:
df['CRASH DATE'] = pd.to_datetime(df['CRASH DATE'], format='%m/%d/%Y')

In [ ]:
#df['CRASH TIME'] = pd.to_datetime(df['CRASH TIME'], format='%H:%M').dt.time

In [ ]:
df['ZIP CODE'] = pd.to_numeric(df['ZIP CODE'], errors='coerce')

In [ ]:
df.isnull().sum()

There are just too many NaN values and some irrelevant columns, so drop the irrelevant columns

In [ ]:
# Drop unecessary columns & the ones with too many null values

df.drop(columns = ['COLLISION_ID', 'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 
                   'VEHICLE TYPE CODE 5', 'OFF STREET NAME', 'CONTRIBUTING FACTOR VEHICLE 3',
                   'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5', 'LATITUDE', 
                   'LONGITUDE', 'CROSS STREET NAME', 'CONTRIBUTING FACTOR VEHICLE 2', 'VEHICLE TYPE CODE 2',
                   'LOCATION'],inplace = True)

In [ ]:
# Drop dubplicate columns

df.drop_duplicates(inplace = True)

In [ ]:
# Drop null columns

df.dropna(inplace = True)

In [ ]:
# Checl null cells

df.isnull().sum()

In [ ]:
df.info()

In [ ]:
# Check shape

df.shape

In [ ]:
# Standarize categorical columns

df['CONTRIBUTING FACTOR VEHICLE 1']  = df['CONTRIBUTING FACTOR VEHICLE 1'].str.lower()
df['BOROUGH'] = df['BOROUGH'].str.lower()
df['ON STREET NAME'] = df['ON STREET NAME'].str.lower()
df['VEHICLE TYPE CODE 1'] = df['VEHICLE TYPE CODE 1'].str.lower()

In [ ]:
# Convert ZIP CODE, NUMBER OR PERSONS INJURED AND NUMBER OF PERSONS KILLED to int and CRASH TIME into datetime stamp

df['ZIP CODE'] = df['ZIP CODE'].astype(int)

In [ ]:
df['NUMBER OF PERSONS INJURED'] = df['NUMBER OF PERSONS INJURED'].astype(int)

In [ ]:
df['NUMBER OF PERSONS KILLED'] = df['NUMBER OF PERSONS KILLED'].astype(int)

In [ ]:
df

In [ ]:
# Check again if there are any null values
df.info()

In [ ]:
# Reset index

df.reset_index(drop=True,inplace=True)

In [ ]:
df

In [ ]:
# Organise dataset by date and time

df = df.sort_values(by=['CRASH DATE', 'CRASH TIME'])
#df=df.sort_values(by=['CRASH DATE'])

In [ ]:
df['NUMBER OF PERSONS INJURED'].nunique()

In [ ]:
fig, ax = plt.subplots(figsize=20,5)
sns.lineplot(data=df, x='CRASH DATE', y='NUMBER OF PERSONS INJURED', hue = 'BOROUGH')
plt.show()

In [ ]:
# Create encoder object 

#label_encoder = preprocessing.LabelEncoder()

In [ ]:
# Encode 'BOROUGH' column

#df['BOROUGH'] = label_encoder.fit_transform(df['BOROUGH'])

Now we'll create different df for each zone

In [ ]:
df_brooklyn = df.loc[df['BOROUGH'] == 'brooklyn']

In [ ]:
df_bronx = df.loc[df['BOROUGH'] == 'bronx']

In [ ]:
df_manhattan = df.loc[df['BOROUGH'] == 'manhattan']

In [ ]:
df_queens = df.loc[df['BOROUGH'] == 'queens']

In [ ]:
df_staten_island= df.loc[df['BOROUGH'] == 'staten island']

In [ ]:
#df_staten_island['CRASH TIME'].unique().sum()

In [ ]:
#df_bronx['Year'] = df_bronx['CRASH DATE'].dt.year

In [ ]:
df_bronx

In [ ]:
fig, ax = plt.subplots(figsize=(12, 6))
sns.lineplot(data=df_bronx, x='CRASH DATE', y='NUMBER OF PERSONS INJURED', ax=ax)

# Set plot title and labels
ax.set_ylim(bottom=0)
plt.title('Number of Persons Injured Over Time')
plt.xlabel('Crash Date')
plt.ylabel('Number of Persons Injured')

plt.show()

In [ ]:
fig, ax = plt.subplots(figsize=(20, 5))
sns.lineplot(data=df_bronx, x='CRASH DATE', y='NUMBER OF PERSONS INJURED')
#sns.lineplot(data=df_bronx[df_bronx['CRASH DATE'].dt.year == 2022], x='CRASH DATE', y='NUMBER OF PERSONS INJURED', ax=ax)
#ax.set_ylim(0, 10)
plt.show()

In [ ]:
fig, ax = plt.subplots(figsize = (20,5))
sns.lineplot(data=df_bronx[df_bronx['CRASH DATE'].dt.year == 2022], x='CRASH DATE', y='NUMBER OF PERSONS INJURED', ax=ax)
plt.show()

In [ ]:
sns.barplot(data = df_brooklyn, x = 'CRASH DATE', y = 'NUMBER OF PERSONS INJURED')

In [ ]:
df_bronx[df_bronx['NUMBER OF PERSONS INJURED'] == 10]

In [ ]:
df_brooklyn.iloc(df['CRASH DATE'] == 2012-07-03).groupby('NUMBER OF PERSONS INJURED').sum()

In [ ]:
sns.barplot(data=df, x = df['CRASH DATE'],  y = df['NUMBER OF PERSONS INJURED'], hue = 'BOROUGH')
plt.show